body {
    background-color: #ecf0f1;
  }
  .btn {
    cursor: pointer;
  }
  body {
    color: #ffffff;
    overflow: hidden;
  }
  .clicked {
    color: #ffffff;
   
  }
  .js-clock{
    position: relative;
    left: 40%;
    font-size: 3rem;
    color: #000000;

  }
  .js-weather{
    position: relative;
text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(43, 43, 43);
  }
  .js-greetings{
    font-weight: bold;
    font-size: 20px;
  }
  .sad{
    position: relative;
text-align: center;
color: rgb(5, 5, 5);
  }
  .form,
  .greetings {
    display: none;
  }
  .ds{
    text-align: center;
  }
  .showing {
    display: block;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
  }